* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lexend Deca", sans-serif;
    font-style: normal;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
}

img,
video {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    color: inherit;
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.4;
}

::selection {
    background-color: rgb(65, 61, 122);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ffffff;
}

.navbar_name {
    font-size: 1.5rem;
}

#folderIcon {
    cursor: pointer;
}

.navbar-folder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-folder svg,
.navbar-folder .cross-icon {
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-folder svg {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar-folder:hover svg {
    stroke: #ffd700;
    transform: scale(1.2);
}

.navbar-folder.active:hover .cross-icon {
    color: #ffffff;
    transform: translate(-50%, -50%) scale(1.2);
}

.navbar-folder.hover-mobile svg {
    stroke: #ffd700;
    transform: scale(1.2);
}

.navbar-folder.active.hover-mobile .cross-icon {
    color: #ffffff;
    transform: translate(-50%, -50%) scale(1.2);
}

.navbar-folder .cross-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    color: white;
    font-size: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar-folder.active svg {
    opacity: 0;
    transform: scale(0.8);
}

.navbar-folder.active .cross-icon {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}

/*----------HERO SECTION----------*/

.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2.5rem;
    margin-top: 100px;
    max-width: 100%;
}

.highlight {
    color: gold;
}

.hero-line {
    white-space: nowrap;
    margin: 0.2em 0;
    font-weight: bolder;
    overflow: hidden;
}

.line1 {
    font-size: clamp(1rem, 8vw, 3rem);   
    white-space: nowrap;
    overflow: hidden;
}

.line2 {
    font-size: clamp(1.2rem, 9vw, 3.5rem);
    white-space: nowrap;
    overflow: hidden;
}


.hero-content {
    margin-top: 1rem;
    font-size: 1.2rem;
    max-width: 600px;
}

@media (max-width: 480px) {
    .hero {
        padding-left: 1rem;   
        margin-top: 80px;     
    }
}
